.dropdown:hover .dropdown-menu {
    display: block;
}

.showinfo {
    display: block;
    padding-right: 17px;
}

.form.showagain {
    display: block;
}
.module.form-module .form.hideinfo {
    display: none;
}
.modal.video-modal.fade.in {
    display: block;
    background-color: rgba(0, 0, 0, 0.5) ;
}